 .sidebar{
     flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251,255);
    position: sticky;
    top: 50px;
 }

 .sidebarWrapper{
     padding: 20px;
     color: #555;
 }

 .sideMenu{
     margin-bottom: 10px;
 }

 .sidebarTitle{
     font-size: 16px;
     color: rgb(187, 186, 186);
 }

 .sidebarList{
     list-style: none;
     padding: 5px;
 }
 .sidebarListItems{
     padding: 5px;
     cursor: pointer;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.sidebarListItems.active,  .sidebarListItems:hover{
    background-color: rgb(240,240,255);
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebarIcons{
    margin-right: 5px;
    font-size: 20px !important;

}